*.d
*.o
*.obj

# Build artifacts
*.exe
*.db
*.pdb
*.ilk
*.recipe
*.log
*.tlog
GhostServer/Debug/
GhostServer/Release/
.vs/GhostServer/v16/.suo
GhostServer/ui_mainwindow.h
GhostServer/*_qt.cpp
GhostServer/*_qrc.cpp
config.mk
copy.bat
ghost_server
ghost_server_cli

ghost_log
