# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/.vs/GhostServer/v15/.suo
*.db
*.ilk
*.pdb
src/.vs/GhostServer/v16/.suo
*.opendb
*.ipch
*.log
*.tlog
*.idb
*.iobj
*.ipdb
