*.d
*.o
*.obj

# Executables
*.exe
*.db
*.log
*.tlog
GhostServer/Debug/
GhostServer/Release/
.vs/GhostServer/v16/.suo

# Linux build artifacts
GhostServer/ui_mainwindow.h
GhostServer/*_qt.cpp
config.mk
ghost_server
ghost_server_cli

ghost_log
